[submodule "ulv_battery"]
	path = ulv_battery
	url = ../ulv_battery.git
[submodule "ulv_power"]
	path = ulv_power
	url = ../ulv_power.git
[submodule "ulv_beacon"]
	path = ulv_beacon
	url = ../ulv_beacon.git
[submodule "ulv_libraries"]
	path = ulv_libraries
	url = ../ulv_libraries.git
