[submodule "ulv_battery"]
	path = ulv_battery
	url = https://github.com/SpaceScienceSweden/ulv_battery.git
[submodule "ulv_power"]
	path = ulv_power
	url = https://github.com/SpaceScienceSweden/ulv_power.git
[submodule "ulv_beacon"]
	path = ulv_beacon
	url = https://github.com/SpaceScienceSweden/ulv_beacon.git
